/*@font-face {
  font-family: 'Marck Script';
  src: url(../fonts/MarckScript-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Underdog cursive';
  src: url(../fonts/Underdog-Regular.ttf) format('ttf');
}*/
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Underdog&display=swap');
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
} 
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(140deg, #c0dd4a 0%, #006400 100%);
}
/*header*/
header {
  height: 215px;
  box-shadow: 0 10px 100px rgba(173, 255, 47, .9);
}
.logoheader {
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
}
.logo img {
  height: 110px;
  width: 110px;
  padding-bottom: 20px;
}
h1 {
  color: rgb(250, 250, 70);
  letter-spacing: 3px;
  font-family: 'Underdog', cursive;
  font-size: 35px;
}
/*content*/
.content {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  box-shadow: 0 5px 50px rgba(173, 255, 47, .9);
}
.mainBox, .rigthBox, .leftBox {
  display: flex;
  flex-direction: column;
}
.rigthBox, .leftBox {
  min-width: 220px;
  position: relative;
}
.mainBox {
  width: 470px;
  justify-content: space-evenly;
}
.buttonBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.button, button {
  opacity: .9;
  box-sizing: border-box;
  height: 60px;
  width: 220px;
  text-align: center;
  color: DarkGreen;
  font-size: 33px;
  font-family: 'Marck Script', cursive;
  background-color: rgb(255, 255, 0);
  border-radius: 10px;
  border: 2px solid rgb(249, 212, 35); /*173, 255, 47*/
  box-shadow: 3px 3px 10px rgba(0, 100, 0, .7);
  cursor: pointer;
  z-index: 1;
}
.button:hover, button:hover {
  box-shadow: 0 0 5px rgba(255, 255, 0, .7);
}
.dropdown-menu {
  display: none;
  box-sizing: border-box;
  margin-top: 7px;
  gap: 7px;
  width: 217px;
  background-color: yellow;
  border-radius: 10px;
  border: 2px solid rgb(249, 212, 35);
  box-shadow: 0 0 5px rgba(255, 255, 0, .7);
}
.button:hover > .dropdown-menu,
.button > .dropdown-menu:hover {
display: flex;
flex-direction: column;
align-items: start;
}
.menuButton {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-top: 6px;
  height: 50px;
  width: 215px;
}
.menu-item {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 29px;
}
.checkbox {
  box-sizing: border-box;
  display:flex;
  height: 31px;
  width: 31px;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  border: 1px solid gold;
  border-radius: 5px;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  box-shadow: 1px 1px 10px rgb(255, 215, 0);
}
.timerBox {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 5%;
}
.timer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  gap: 25px;
  height: 60px;
  width: 220px;
  border: 2px solid rgb(173, 255, 47);
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0, 100, 0, .7);
  background-color: rgba(173, 255, 47, .2);
  text-align: center;
  color : DarkGreen;
  font-size: 45px;
  font-family: 'Marck Script', cursive;
}
.timer > div {
  width: 40px;
}
.timer > div+div:before {
  content: '\1361';
  position: absolute;
  left: 47%;
}
.boxToPauseImg > img {
  align-self: center;
  height: 90%;
}
.tabBox, .boxToPauseImg {
  display: flex;
	flex-wrap: wrap;
  height: 381px;
	box-sizing: border-box;
	justify-content: center;
	gap: 7px;
}
.flexCell {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 90px;
  width: 90px;
  border: 2px solid gold;
  border-radius: 15px;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  opacity: .9;
  box-shadow: 3px 3px 10px rgba(0, 100, 0, 0.9);
}
.flexCell:hover {
	transform: scale(1.03);
	transition: 0.3s;
}
.imgCover {
  box-sizing: border-box;
  height: 90%;
  width: 90%;
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  border-radius: 15%;
  border: 2px solid gold;
}
.imgCover:hover {
  box-shadow: 0 0 5px rgb(255, 255, 0);
  border: 2px solid rgb(255, 255, 0);
}
.flexCell img {
  height: 70px;
  width: 70px;
}
.elmHidden {
  display: none;
}
/*footer*/
footer {
  flex: 0 0 auto;
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer>span, span>a {
  font-family: 'Marck Script', cursive;
  color: rgb(250, 250, 70);
  font-size: 21px;
}

.message {
  position: absolute;
  display: flex;
  align-items:center;
  align-self: center;
  top: 20%;
  height: 500px;
  width: 550px;
  box-sizing: border-box;
  color: rgb(255, 0, 0);
  font-family: 'Marck Script', cursive;
  background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  opacity: .9;
  border-radius: 15px;
  border: 1px solid gold;
  box-shadow: 5px 5px 15px rgb(255, 255, 0);
  z-index: 3;
}
.message > span {
  text-align: center;
  width: 100%;
}